<app-section
  variant="blue"
  [title]="content[0].title"
  [description]="content[0].description"
  first="first"
></app-section>

<app-section
  variant="beige"
  [title]="content[1].title"
  [description]="content[1].description"
></app-section>

<app-section
  variant="blue"
  [title]="content[2].title"
  [description]="content[2].description"
></app-section>

<app-section
  variant="white"
  [title]="content[3].title"
  [description]="content[3].description"
></app-section>

<app-section
  variant="black"
  [title]="content[4].title"
  [description]="content[4].description"
></app-section>

<app-side-menu></app-side-menu>
